body {
  background-color: #e5e5e5;
  color: #757575;

  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;
}
.page-header {
  background-color: #ffffff;
}
.text-logo-header > a {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  color: #2196f3;
}
ul {
  list-style: none;
}
.link-header {
  color: #212121;
  font-size: 14px;
}
.link-header:hover,
.link-header:focus {
  color: #2196f3;
}
.link-info {
  color: #757575;
  font-size: 14px;
}
.link-info:hover,
.link-header:focus {
  color: #2196f3;
}
.main-banner {
  background: #2f303a;
}
.main-text {
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: #ffffff;
}
.button {
  cursor: pointer;
  color: #ffffff;
  background-color: #2196f3;
  font-weight: 700;
  font-size: 16px;
  align-items: center;
  text-align: center;
}
.text-title {
  color: #212121;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
}
.text-description {
  color: #757575;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}
.text-about-us {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  color: #212121;
}
.text-team {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  color: #212121;
}
.text-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #212121;
}
.text-profession {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #757575;
}
footer {
  background: #2f303a;
}
.text-logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  color: #2196f3;
}
.link-adress > a {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
}
.link-mail > a,
.link-tel > a {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.6);
}
